body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

.btn-xl {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.bg-black {
  background-color: $black !important;
}

.bg-gray {
  background-color: $gray-900 !important;
}

.bg-darkgray {
  background-color: #171717 !important;
}

.rounded-pill {
  border-radius: 5rem;
}

.outline {
  margin: 0 0 48px;
  -webkit-text-stroke: 2px #fc4c4e;
  font-family: Futura;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(0, 0, 0, 0);
}

// .creator_button {
//   width: 203px;
//   height: 59px;
//   margin: 32px 0 24px 32px;
//   padding: 16px 8px 16px 24px;
//   border-radius: 27px;
//   background-color: #444444;
//
//   span {
//     font-size: 18px;
//     color: #fff;
//   }
// }


.top-100 {
  margin-top: 100px;
}

.top-150 {
  margin-top: 150px;
}

.bottom-100 {
  margin-bottom: 100px;
}

.bottom-150 {
  margin-bottom: 150px;
}










.col-top {
  top: 0%;
}


.full-width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.triple-width {
  width: 33%;
}

.half-width {
  width: 50%;
}
